body{
	background-image: url("../../IMAGES/B.jpg");
}
a{
	color: #fff;
}
a:hover{
	text-decoration: none;
}
.container{
	width: 450px; 
	background-color: #3AABFF;
	margin: 150px auto 0 auto;
	text-align: center;
	box-shadow: 0 -5px 0 #0014F8;
	border-radius: 5px;
	padding-bottom: 20px;
}
input[type = "text"], [type = "password"]
{
	width: 300px;
	height: 50px;
	font-size: 20px;
	margin-bottom: 25px;
	border-radius: 5px;
	padding-left: 10px;
} 
.container img{
	width: 128px;
	height: 128px;
	margin: -64px 0 30px;  
}
.SUBMIT{
	padding: 13px 30px;
	margin: 5px 0 20px 0;
	font-size: 15px;
	color: #fff;
	background-color: #0105F8;
	border: none;
	border-bottom: 4px solid #0F459D;
	cursor: pointer;
	border-radius: 5px;
}

.SUBMIT:hover{
	transition: all 0.5s;
	background: #fff;
	color: #0105F8;
}